NODE_ENV=development
PORT=3000

POSTGRES_DB=genesis_test_task
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/genesis_test_task?schema=public

LOG_LEVEL=info
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
RESEND_API_KEY=re_example_key
RESEND_FROM_EMAIL=onboarding@resend.dev
CRON_ENABLED=true
CRON_SCHEDULE=*/5 * * * *
